@import '~bootstrap/scss/bootstrap';

.train {
    div {
        width: 7rem;
    }
}

footer {
    span {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}